<template name="TopBar">
	<nav class="top-bar">
		<ul>
			<li>
				<a href="/about"><i class="fa fa-list"></i>About us</a>
			</li>
			<li>
				<a href="/services"><i class="fa fa-map-o"></i>Services</a>
			</li>
			<li>
				<a href="/team"><i class="fa fa-shopping-basket"></i>Team</a>
			</li>
			<li>
				<a href="/previous"><i class="fa fa-shopping-basket"></i>Previous work</a>
			</li>
			<li>
				<a href="/contact"><i class="fa fa-shopping-basket"></i>Contact</a>
			</li>
		</ul>
	</nav>
</template>